/* GLOBAL CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 4.8rem;
}

h3{
    font-size: 3rem;
}

h4,
h5{
    font-size: 2.8rem;
}

li{
    font-size: 2rem;
} 
a {
    color: #ffffff;
    text-decoration:none ;
}

/* HEADER */

.main-head {
    background-color:black;
    color: #ffffff;
}

nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;

}

nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo {
    flex: 2 1 40rem;
}

/* BODY */ 


/* The hero image */
.hero-image {
    
    background-image:  url("/static/Hero3.png");
  
    /* Set a specific height */
    height: 90vh;
    width: 100%;
  
    /*Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    position: absolute;
    top: 50%; /*to place the text in the middle of the image*/
    left: 50%; /*and to place the text in the right side of the middle of the image*/
    transform: translate(-50%, -50%);
    color: white;
  }

  .grand_titre_h1{  /* STOP Sharing fake news on Twitter*/
    text-align: right;

    width: 1000px;;
    font-size: 85px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 0.22px;

    color: #FFFEFE;
    margin-left: 300px;
  }
  
  .petit_titre_hero{  /*Determine the percentage of truthfulness of your tweet*/
      width: 1000px;

      font-size: 30px;
      font-family: Helvetica, sans-serif;
      font-weight: 300;
      letter-spacing: 0.08px;

      text-align: right;
      margin-left: 290px;
      color: #FFFEFE;
  }


  .button_predict{ /*Button "predict" in the hero image*/
    text-align: right;
    


    font-size: 40px;
    font-weight: bolder;
    border-radius: 30px;
    border-color: #ffffff;

    /*border-width: 0.5vh;*/
    margin: 20px;
    padding: 20px 90px 30px 90px; /*top right bottom left*/
    
    color: #ffffff;
    background-color:#3194db;
    /*border: none; /*Pour enlever les bordures du bouton*/

    display: block;
    margin-left: 968px;
    margin-top: 60px;
    scroll-behavior: smooth;
  }

  

 
/* AFTER THE HERO IMAGE*/


.contenu {
    margin: 200px;
}

/*.guide_formular{
    font-size: 60px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 0.22px;

}*/
.form-link{
    display: flex;
    align-items: center;
}
.link {  /*Barre de saisie du formulaire*/
    display: inline;
    width: 800px;
    height: 70px;
    padding-left: 1.5em;
    border-radius: 10px;
    background-color:rgb(180, 225, 240);
    border: none;
    text-align: left;
    font: normal normal bold 4em Helvetica;
    letter-spacing: 0px;
    color: #1DA0F1;
    
    

}

.button_go{
    font-size: 35px;
    border-radius: 20px;
    margin: 20px;
    margin-left: 100px;
    padding: 10px 60px 20px 60px; /*top right bottom left*/
    border-color: white;
    
    color: #ffffff;
    background-color: #3194db;
  }

  .button_go:hover{
    border-color: #3194db;
    background-color: #ffffff;
    color: #3194db;
  }

  .button_result{
    font-size: 35px;
    border-radius: 20px;
    margin: 20px;
    padding: 10px 60px 20px 60px; /*top right bottom left*/
    
    color: #ffffff;
    background-color:lightgreen;
    border: none; /*Pour enlever les bordures du bouton*/

    display: block;
    margin-left: 250px;
    margin-bottom: 50px;
  }
  

  /* THE MODAL */

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-bottom: 10rem;
    padding: 0;
    /*border: 1px solid #888;*/
    border-radius: 1.5rem;
    border-color: #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    /*-webkit-animation-name: blowUpContent;*/
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    /*animation-name: blowUpContent;*/
    animation-duration: 0.4s
  }
  
  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
  /* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 300px;
}
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .close-contener{
      margin-bottom: 8rem;
  }
  
  
  /* body of modal*/
.modal-body {padding: 2px 16px;}

.truthfulness-rate {
    color: #21A23F;
    font-size: 55px;
    font-family: Helvetica, sans-serif;
    font-weight:bolder;
    font-style: normal;
    margin-right: 20px;
}

.text-after-rate {
    color: #1A3257;    
    font-size: 55px;
    font-family: Helvetica, sans-serif;
    font-weight:bolder;
    font-style: normal;
}

.result { /* div that content *truthfulness-rate* and *text-after-rate* */
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center;
    /*width: 80%;*/
    /*align-items:flex-start;*/
}

.compte-contener {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /*max-width: 80%;*/
    justify-content: center;
}

.infos-comptes{
    
    width: 25%;
    border-radius: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #ffffff;
    margin: 35px 35px 5px 35px;
}

.entete-compte{
    /*position: relative;
    margin: auto;
    width: 50%;*/
    display: flex;
    
}

.message {
    /*position: relative;
    margin: auto;
    width: 50%;*/
    font-size: 15px;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    color: black;
    padding: 15px;
    
}

.nameAccount-and-username{
    display: block;
    padding: 25px 15px 15px 15px; /*top right bottom left*/
    
    
}

.nameAccount{
    display: block;
    letter-spacing: 0.06px;
    color: #1A3257;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight:bold;
    font-style: normal;
}

.username{
    display: block;
    letter-spacing: 0.06px;
    color: #1A3257;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight:bold;
    font-style: normal;
}

.image-compte{
    padding-left: 10px;
    padding-top: 5px;
}

.rating {
    /*width: 800px;*/
    font-size: 40px;
   
    /*padding: 120px;*/
    
}
  
.rating__star {
    cursor: pointer;
    color: #DEC912;
    
}

.notation{
    display: flex;
    margin-left: 12rem;
    margin-top: 10rem;
    margin-bottom: 15rem;
    
}

.button-noter{
    font-size: 30px;
    border-radius: 40px;
    
    margin-left: 5rem;
    padding: 10px 25px 10px 25px; /*top right bottom left*/
    border-style: none;
    color: #ffffff;
    background-color: #3194db;

}
  
  

  
  /* A partir du text */

  .text_lorem{
      font-size: 30px;
      color: black;
      width: 800px;
      margin-top: 50px;
      margin-bottom: 100px;
  }

  .payments{
      display: flex;
      margin-top: 100px;
      justify-content: space-around;
      width: 1250px;
  }

  .MTN_image{
      margin-left: 200px;
  }

  .orange_image{
      margin-left: 200px;
  }

  /* FOOTER*/

  .footer{
      background-color: black;
      padding-top: 15px;
      padding-bottom: 1px;
      
  }

  .contact_footer{
      display: flex;
      margin-bottom: 10px;
      margin-left: 205px;
      
  }
  .text_footer{
      color: #ffffff;
      font-size: 30px;
      font-family: Helvetica, sans-serif;
      font-weight: 300;
      margin-left: 25px;
  }


  #pc1 {
    display: none;
    opacity: 1;
    transition: opacity 1s;
  }
  #pc1.hide {
    opacity: 0;
  }