{% load static %}
<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fake-News Detections</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <script src="https://kit.fontawesome.com/f1fb171e01.js" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <header class="main-head">
            <nav>
                <h1 id = "logo">FakeNewsDetector</h1>
                <ul>
                    <li><a href="#concept">Concepts</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#donate">Donate</a></li>
                    {% if user.is_authenticated %}
                        {{ register }}
                        {% if not user.myuser.license %}
                            <li id="abonnement"
                                style="background-color:#DC3545; color:white; border-radius:10px; height:110%"><a
                                    href="{% url 'license' %}"
                                    >Abonne toi!!</a>
                            </li>
                        {% endif %}
                    {% else %}
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <div class="hero-image">
            <div class="hero-text">
              <h1 class="grand_titre_h1">STOP Sharing fake news on Twitter</h1>
              <p class="petit_titre_hero">Determine the percentage of truthfulness of your tweet</p>
              <a href="#contenu_tweet"> <button class="button_predict">Predict</button> </a>
              
            </div>
        </div> 
        
        <div class="contenu">

            
            <form method="post">
                <label for= 'link'> <h2 id="contenu_tweet" class="guide_formular">Link of the tweet</h2> </label> <br>
                <div class="form-link">
                    <input class="link" type = 'text' id= 'link' name = 'link' required=true>
                    <input id="myBtn" class="button_go" type = 'button' value= 'Go' >
                </div>
            </form>


           <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    
                    <div class="modal-body">

                        <div class="close-contener">
                            <span class="close">&times;</span>
                        </div>
{% comment %}                         
                        <div class="result"> 
                           <span class="truthfulness-rate">Vrai à 75% </span>
                           <span class="text-after-rate">l'information du tweet à été cité par </span>
                        </div> {% endcomment %}

                        <div class="compte-contener">
                            {% comment %} {% for idi in liste %} 
                            <div class="infos-comptes">
                                <div class="entete-compte">
                                    <img class="image-compte" src= "static/Icon awesome-facebook.png" height="85">
                                    <div class="nameAccount-and-username">
                                        <span class="nameAccount">Account</span>
                                        <span class="username">@username</span>
                                    </div>

                                </div>

                                <div class="message">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                    sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
                                    et justo duo dolores et ea rebum. 

                                </div>


                            </div>
                            {% endfor %} {% endcomment %}

                        </div>

                        <div class="notation">

                            <div class="rating">
                                <i class="rating__star far fa-star"></i>
                                <i class="rating__star far fa-star"></i>
                                <i class="rating__star far fa-star"></i>
                                <i class="rating__star far fa-star"></i>
                                <i class="rating__star far fa-star"></i>
                            </div>

                            <button class="button-noter"> Noter </button>
                        </div>

                    </div>
                    
                </div>
            
            </div>

            

            <div id="concept">
                <h2>Concepts</h2>
                <div class="text_lorem">
                    Cette plateforme est un outil permettant de détecter de façon automatique la véracité d'un tweet juste a
                    partir de son lien. Les fakes news ayant pris de l'ampleur dans les médias,il est très difficile de nos
                    jours , de discerner les informations vraies de celle fakes. C'est ainsi que la plateforme entre en jeu,
                    elle vous fournit le pourcentage de véracité d'une information, vous aidant a avoir le contrôle sur les
                    données que vous consommez quotidiennement. Cet outil est révolution dans le domaine des fausses
                    informations, car il détecte de façon rapide, précise les informations soupsconeuses et fausses.
                    Réalisé par trois étudiants de l'université de Yaoundé I.
                </div>
            </div>

            <div id="donate">
                <h2>Donate</h2>
                <div class="payments">
                    <img src="static/Paypal.png" height="200">
                    <img class="MTN_image" src="static/MTN.png" height="200">
                    <img class="orange_image" src="static/orange-money.png" height="200">
                </div>
            </div>
        </div>    


        <footer>
            <div class="footer">
                <div class="contact_footer">
                    <img src="static/Icon awesome-github.png" height="50">
                    <span class="text_footer"> Lorem ipsum.</span>
                </div>

                <div class="contact_footer">
                    <img src="static/Icon awesome-whatsapp.png" height="50">
                    <span class="text_footer"> 6565628782</span>
                </div>

                <div class="contact_footer">
                    <img src="static/Icon awesome-facebook.png" height="50">
                    <span class="text_footer"> Lorem ipsum.</span>
                </div>
            </div>


        </footer>
        
    </body>
</html>


<!--Code javascript pour la modale-->

<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
    // When the user clicks the button, open the modal 
    btn.onclick = function() {

        
        let formData = new FormData();
        formData.append('link_tweet', document.querySelector("#link").value);
        let csrfTokenValue = getCookie('csrftoken');
        console.log(formData);
        const request = new Request("{% url 'extract_subject' %}", {
            method: 'POST',
            body: formData,
            headers: {'X-CSRFToken': csrfTokenValue}
        });
        fetch(request)
        .catch(error => {
            const resultElement = document.querySelector(".compte-contener");
            resultElement.innerHTML = `<div class="bloc">
                Une erreur est survenue; 
                Vérifié le lien ou votre connexion internet
            </div>`;
        })
            .then(response => response.json())
            .then(result => {
                console.log(result);
                result.user = JSON.parse(result.user);
                result.probabilites = JSON.parse(result.probabilites);
                const resultElement = document.querySelector(".compte-contener");
                resultElement.innerHTML = `<div class="bloc">
                    <div class="entete-compte" >
                        <img class="image-compte" src="${result.user.profile_image_url_https}" height="80"
                            width="80">
                        <div class="nameAccount-and-username">
                            <span class="username">@${result.user.screen_name}</span>
                        </div>

                    </div>

                    <div class="message">
                        ${result['msg']}
                    </div>

                    <span>Mots clé : ${result['keyword']}</span>
                    <div> ${result.probabilites['moyenne']}</div>
                    
                </div>`;
            })
        modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


<!--Code Javascript pour la noter la reponse-->
<script>
    const ratingStars = [...document.getElementsByClassName("rating__star")];

    function executeRating(stars) {
    const starClassActive = "rating__star fas fa-star";
    const starClassInactive = "rating__star far fa-star";
    const starsLength = stars.length;
    let i;
    stars.map((star) => {
        star.onclick = () => {
        i = stars.indexOf(star);

        if (star.className === starClassInactive) {
            for (i; i >= 0; --i) stars[i].className = starClassActive;
        } else {
            for (i; i < starsLength; ++i) stars[i].className = starClassInactive;
        }
        };
    });
    }
    executeRating(ratingStars);

</script>
    

           





